$textarea-color: #dbd5d5;
$keyboard-background: #0000007a;
$key-background: #3d626b94;
$color-main: darkslategrey;
$color-light: #ffffff;
$color-accent: darkturquoise;
$color-accent-additional: #00d4d4;

$tablet-width: 1020px;
