body {
    background-color: #373737;
}

.keyboard__textarea {
    background-color: darkslategrey;
}

.keyboard {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background: #0000007a;
    user-select: none;
}

.keyboard__textarea {
    width: 75%;
    height: 100px;
    color: #dbd5d5;
    font-size: 2.2rem;
}

.keyboard__key {
    margin: 8px;
    height: 55px;
    width: 55px;
    text-align: center;
    border-radius: 5px;
    background: #5f737894;
    color: #ffffff;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: all .2s cubic-bezier(0, 1.43, .82, .74);
    transition: all .2s cubic-bezier(0, 1.43, .82, .74);
}

.keyboard__key:hover {
    background-color: #00d4d4;
}

.keyboard__key:active {
    background: #827575;
}

.keyboard__key--wide {
    width: 55px;
}

.keyboard__key--enter {
    width: 110px;
}

.keyboard__key--medium-wide {
    width: 8%;
    max-width: 350px;
}

.keyboard__key--ultra-wide {
    width: 33.5%;
    max-width: 500px;
}

.key--pressed {
    background-color: darkturquoise;
}

.key--pressed-caps,
.key--pressed-shift {
    background-color: darken(darkturquoise, 10);
}