@import "constants";

@mixin media-tablet {
    @media (max-width: $tablet-width) { @content; }
}

body {
    background-color: #373737;
}

.keyboard {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background: $keyboard-background;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &__textarea,
    &__rows {
        max-width: 1100px;
    }

    &__textarea {
        box-sizing: border-box;
        width: 100%;
        padding: 5px 10px;
        height: 100px;
        color: $textarea-color;
        font-size: 2.2rem;
        background-color: $color-main;
    }

    .rows-container__row {
        display: flex;
    }

    &__key {
        margin: 5px;
        padding: 0 3px;
        height: 4vw;
        min-height: 25px;
        max-height: 55px;
        width: 100%;
        min-width: 30px;
        max-width: 55px;
        text-align: center;
        border-radius: 5px;
        border-width: 2px;
        background: $key-background;
        color: $color-light;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        -webkit-transition: all .2s cubic-bezier(0, 1.43, .82, .74);
        transition: all .2s cubic-bezier(0, 1.43, .82, .74);

        @include media-tablet {
            margin: 3px;
            border-width: 1px;
        }
    }

    &__key:hover {
        background-color: $color-accent-additional;
    }

    &__key:active {
        background: #827575;
    }

    &__key--wide {
        &:not([data-code^="Control"]) {
            max-width: 100%;
        }
    }

    &__key--enter {
        min-width: 78px;
        max-width: 135px;
    }

    &__key--medium-wide {
        max-width: 100%;

        &[value="Backspace"] {
            min-width: 70px;
        }

        &[value="CapsLock"],
        &[value="Shift"] {
            min-width: 63px;
        }
    }

    &__key--ultra-wide {
        min-width: 285px;
        max-width: 100%;
    }

    .key--pressed {
        background-color: $color-accent;
    }

    .key--pressed-caps,
    .key--pressed-shift {
        background-color: darken($color-accent, 10);
    }
}
